/* Estilos de la página de los productos*/
.my-card {
  box-shadow: 0 0 10px rgb(187, 187, 187);
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
  
.my-card:hover {
  overflow: hidden;
  transition: .3s;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transform: translateY(-2%);
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  
  to {
    opacity: 1;
    scale: 100%;
  }
}

.my-card {

  view-timeline-name: --mycard;
  view-timeline-axis: block;
  
  animation-timeline: --mycard;
  animation-name: show;
  
  animation-range: entry 25% cover 45%;
  animation-fill-mode: both;
}

.button-wantIt {
  background-color: rgb(255, 221, 0) !important;
}

.button-wantIt:hover {
  background-color: rgb(42, 69, 224) !important;
  color: rgb(255, 221, 0) !important;
}
/* Fin de estilos de la página de los productos */

/* Estilos del componente de la caja de filtros*/
.box-container {
  box-shadow: 0 1px 8px rgb(187, 187, 187) !important;
}
/* Fin de estilos del componente de la caja de filtros */

/* Estilos del Footer */
.facebook-icon {
  background-color: blue;
  color: #fff;
  width: 100%;
  height: 100%;
}

.linkedin-icon {
  color: rgba(0, 119, 181, 1);
}

.whatsapp-icon {
  color: rgba(37, 211, 102, 1);
}

.instagram-icon {
  color: rgba(225, 48, 108, 1);
}
/* Fin de estilos del Footer */