hr {
  color: #fff !important;
}

/* Estilos de la página de los productos*/
.my-card {
  box-shadow: 0 0 10px rgb(187, 187, 187);
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
  
.my-card:hover {
  overflow: hidden;
  transition: .3s;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transform: translateY(-2%);
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  
  to {
    opacity: 1;
    scale: 100%;
  }
}

.my-card {

  view-timeline-name: --mycard;
  view-timeline-axis: block;
  
  animation-timeline: --mycard;
  animation-name: show;
  
  animation-range: entry 25% cover 45%;
  animation-fill-mode: both;
}

.favorite-icon-container {
  position: absolute;
  top: 0;
  right: 0;
}

.button-wantIt {
  color: rgb(2, 73, 189) !important;
  background-color: rgb(228, 189, 0) !important;
}

.button-wantIt:hover {
  background-color: rgb(2, 73, 189) !important;
  color: rgb(228, 189, 0) !important;
}
/* Fin de estilos de la página de los productos */

/* Estilos del componente de la caja de filtros*/
.box-container {
  overflow-y: auto;
  max-height: 500px;
}

.box-filter-products {
  box-shadow: 0 0 6px rgb(180, 180, 180) !important;
}
/* Fin de estilos del componente de la caja de filtros */

/* Estilos del navbar */
.app-bar-container {
  background-color: rgb(2, 73, 189) !important;
}

.navbar-icon {
  color: #606060;
  margin-right: 9%;
}

.menu-links-container {
  overflow-x: auto;
  white-space: nowrap;
}

.menu-link {
  display: inline-block;
  padding: 10px;
  color: #fff !important;
}

.menu-link:hover {
  color: rgb(228, 189, 0) !important;
}
/* Fin de estilos del navbar */

/* Estilos del modal de detalle del producto */
.product-detail-box {
  background-color: #f5f5f5;
  border: 1px solid #000;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.16);
  max-height: 500px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Fin de estilos del modal de detalle del producto */

/* Estilos del Footer */
.footer {
  background-color: rgb(228, 189, 0);
}

.logo {
  background-color: rgb(2, 73, 189) !important;
}

.icons-footer {
  background-color: rgb(2, 73, 189);
  color: rgb(228, 189, 0);
  padding: 10%;
  border-radius: 50%;
  font-size: 200% !important;
}

.span-logo{
  color: rgb(228, 189, 0) !important;
}
/* Fin de estilos del Footer */